<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>登录-【AI -> PicTran】</title>

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="assets569/css/style.css">
    <!-- FONT CSS-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets645/font/font-icon/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="assets645/libs/bootstrap/css/bootstrap.min.css">
    <!-- STYLE CSS-->
    <link type="text/css" rel="stylesheet" href="assets645/css/layout.css">
    <!-- <link type="text/css" rel="stylesheet" href="assets645/css/components.css">
	<link type="text/css" rel="stylesheet" href="assets645/css/responsive.css"> -->
</head>

<body style="background-color: rgb(241, 243, 231);">
    <!-- 顶部导航栏 -->
    <header>
        <div class="wrapper-header">
            <div class="container">
                <div class="row row-gogreen">
                    <div class="content-header">
                        <div class="wrapper-hamburger">
                            <div class="content-hamburger">
                                <div class="icons-hamburger"></div>
                            </div>
                        </div>
                        <div class="wrapper-logo-header">
                            <a href="#" class="links-logo-header"><img src="./assets645/images/logo/logo-header.png" alt=""
                                    class="img-responsive" /></a>
                        </div>
                        <div class="wrapper-header-menu">
                            <ul class="nav navbar-nav nav-menu menu-wrapper">
                                <li class="menu-item"><a href="index.html"><span>主页</span></a></li>
                                <li class="menu-item"><a href="upload.html"><span class="text-menu">上传</span></a></li>
                                <li class="menu-item"><a href="user.html"><span class="text-menu">个人</span></a></li>
                                <li class="menu-item"><a href="login.html"><span class="text-menu">登录</span></a></li>
                                <li class="menu-item"><a href="about.html"><span class="text-menu">关于</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 主体 -->
    <br><br>
    <div class="cont">
        <div class="form sign-in">
            <h2>欢迎！</h2>
            <label style="display: block;">
                <span>账号</span>
                <input type="email" />
            </label>
            <label style="display: block;">
                <span>密码</span>
                <input type="password" />
            </label>
            <p class="forgot-pass">忘记密码？</p>
            <button type="button" class="submit" style="margin-left:160px;margin-right: 160px;">登录</button><br>
            <!-- <button type="button" class="fb-btn" style="margin-left:160px;margin-right: 160px;">联系
                <span>开发者</span></button> -->
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>没有账号？</h2>
                    <p>注册，发现更多的精彩！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有账号？</h2>
                    <p>立即登录</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注册</span>
                    <span class="m--in">登录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>填写账号信息</h2>
                <label style="display: block;">
                    <span>昵称</span>
                    <input type="text" />
                </label>
                <label style="display: block;">
                    <span>邮箱</span>
                    <input type="email" />
                </label>
                <label style="display: block;">
                    <span>密码</span>
                    <input type="password" />
                </label>
                <button type="button" class="submit" style="margin-left:160px;margin-right: 160px;">注册</button><br>
                <!-- <button type="button" class="fb-btn" style="margin-left:160px;margin-right: 160px;">Join with
                    <span>facebook</span></button> -->
            </div>
        </div>
    </div>
    <!-- 页脚-->
    <footer>
        <section class="section-wrapper-footer" style="margin-top: 100px;">
            <div class="wrapper-footer-bottom">© 2020 上海交通大学学生作业 仅供学习交流.</div>
        </section>
    </footer>
    <script src="assets569/js/index.js"></script>

</body>

</html>